<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>My CRUD in Node.js</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>

  <div class="form">
    <h1>Registrar</h1>

    <form action="/show" method="POST">
      <input class="inp1" type="text" placeholder="First name" name="name" required>
      <input type="text" placeholder="Last name" name="surname" required>

      <select name="course" required>
        <option value="">Select Course</option>
        <option value="ads">ADS</option>
        <option value="ec">Engenharia da Computação</option>
        <option value="gt">Gestão de TI</option>
        <option value="si">Sistemas da Informação</option>
        <option value="cp">Ciência da Computação</option>
        <option value="dc">Data Science</option>
        <option value="ml">Machile Learning</option>
      </select>

      <button class="btn" type="submit">Submit</button>
    </form>
  </div>

  <!-- importações -->
  <script src="../app.js"></script>
  <script src="../server.js"></script>
</body>

</html>