body{
    background-color: rgb(102, 102, 238);
}

.btn{
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover{
    background-color: white;
    color: black;
}

.form{
    text-align: center;
}
